<div id="header" class="container d-flex align-items-center justify-content-between">
    <div id="photoIcon"><i class="fas fa-camera-retro"></i> </div>
    <div id="webName">
        <h1><a class="text text-decoration-none" routerLink="#home">WEBNAME</a></h1>
    </div>
    <div id="cartIcon"><i class="fas fa-shopping-cart"></i><span> 0</span></div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active p-4" routerLink="">Home</a>
            <a class="nav-item nav-link p-4" routerLink="#">Biography</a>
            <a class="nav-item nav-link p-4" routerLink="#">Portfolio</a>
            <a class="nav-item nav-link p-4" routerLink="#">Testimonials</a>
            <a class="nav-item nav-link p-4" routerLink="#">Customers</a>
            <a class="nav-item nav-link p-4" routerLink="#">Contac-us</a>
        </div>
    </div>
</nav>