<div
  id="header"
  class="container d-flex align-items-center justify-content-center pt-2 border-bottom border-secondary border-2"
>
  <div id="photoIcon"><i class="fas fa-camera-retro fa-2x"></i></div>
  <div id="webName">
    <h1>
      <a class="text text-decoration-none ps-3 text-dark" routerLink="/">
        <span id="logoHome">FlashWink</span>
      </a>
    </h1>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-item nav-link active p-4" routerLink="/">Home</a>
        <a class="nav-item nav-link p-4" routerLink="/bio-about">About</a>
        <a class="nav-item nav-link p-4" routerLink="/portfolio">Portfolio</a>
        <a class="nav-item nav-link p-4" routerLink="/testimonials"
          >Testimonials</a
        >
        <a class="nav-item nav-link p-4" routerLink="/customers">Customers</a>
        <a class="nav-item nav-link p-4" routerLink="/contact-us">Contact</a>
      </div>
    </div>
  </div>
</nav>
