<!-- b2b customers list -->

<div class="container bg-secondary shadow-sm pt-4 pb-4">
  <h1 class="text-center fw-light pt-1 pb-1">Our partners</h1>

  <div class="bg-danger col-12">

    <!-- Angular Material "TABS" -->
    <mat-tab-group mat-align-tabs="center" animationDuration="2000ms" class="bg-warning">
      <mat-tab *ngFor="let customer of customers" >
        <!-- tabpanel buttons -->
        <ng-template mat-tab-label>
          <div class="bg-danger p-0">
            {{ customer.customerName }}
          </div>
        </ng-template>
        
        <!-- details section with img & text about each b2b partner -->
        <div class="card d-flex flex-column flex-md-row rounded-0 row col-10 alignCenter pt-2 pb-2 border-0 ">
          <div class="overlayImg col-lg-6">
            <img src="{{ customer.campaignImg }}" class="card-img-top rounded-0 image col-lg-6" >
            <div class="overlay col-lg-6">
              <img src="{{ customer.customerLogo }}" class="icon" >
            </div>
          </div>
          
          <div class="card-body rounded-0 col-lg-6">
            <h4 class="card-title">{{ customer.customerName }}</h4>
            <h5 class="card-title fw-light">{{ customer.campaignName }}</h5>
            <p class="card-text">{{ customer.campaignText }}</p>
            <a href="#" class="btn btn-outline-secondary rounded-0">Go to project</a>
          </div>
        </div>

      </mat-tab>
    
    </mat-tab-group>

  </div>
  
</div>

