<!-- b2b customers list -->

<div class="bg-light shadow-sm pt-4 pb-4">
  <h1 class="text-center fw-light pt-1 pb-1">Our partners</h1>
  <div class="container ">
    <nav class="d-flex justify-content-center">

      <!-- accessible tabpanel of each b2b partner -- clickable list of companies -->
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">CakeFactory</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">beery maniac</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Crispy Chris</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">SPA-lverde</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Butcher's</button>
      </div>
    </nav>

    <!-- details section with img & text about each b2b partner -->
    <div class="tab-content col-10 row w-100" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card d-flex flex-column flex-md-row bg-warning rounded-0">
          <div class="col-12 col-md-6">
            <img src="assets/images/natalia/CakeFactory-kazuend-geG4C3qyiG0-unsplash.jpg" class="card-img-top rounded-0 bg-danger" alt="...">
          </div>
          <div class="card-body bg-success rounded-0 col-12 col-md-6">
            <h4 class="card-title">CakeFactory</h4>
            <h5 class="card-title fw-light">Summer Campaign 2021</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus voluptates similique dolore ea molestiae excepturi reprehenderit ipsa, omnis porro, qui nostrum voluptatem veritatis, sit laudantium debitis expedita at aut enim.</p>
            <a href="#" class="btn btn-primary">Go to project</a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    </div>
  </div>
</div>