<div class="container mx-auto mt-3">
  <!-- ### Wedding Testimonials Preview ### -->

  <div class="row my-1 ms-0">Weddings</div>
  <div class="row photos">
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/wedding_01.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/wedding_02.jpg" />
    </div>
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/wedding_03.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/wedding_04.jpg" />
    </div>
  </div>
  <div class="row photos">
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/wedding_05.jpg" />
    </div>
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/wedding_06.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/wedding_07.jpg" />
    </div>
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/wedding_08.jpg" />
    </div>
  </div>

  <div class="row photos">
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/wedding_09.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/wedding_10.jpg" />
    </div>
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/wedding_11.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/wedding_12.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/wedding_13.jpg" />
    </div>
  </div>

  <!-- ### Portrait Testimonials Preview ### -->

  <div class="row my-1 ms-0">Portraits</div>
  <div class="row photos">
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/portrait_01.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/portrait_02.jpg" />
    </div>

    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/portrait_03.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/portrait_04.jpg" />
    </div>
  </div>
  <div class="row photos">
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/portrait_05.jpg" />
    </div>
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/portrait_06.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/portrait_07.jpg" />
    </div>
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/portrait_08.jpg" />
    </div>
  </div>
  <div class="row photos">
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/portrait_09.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/portrait_10.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/portrait_11.jpg" />
    </div>
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/portrait_12.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/portrait_13.jpg" />
    </div>
  </div>

  <!-- ### Travel Testimonials Preview ### -->

  <div class="row my-1 ms-0">Travel</div>
  <div class="row photos">
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/travel_01.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/travel_02.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/travel_03.jpg" />
    </div>
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/travel_04.jpg" />
    </div>
  </div>
  <div class="row photos">
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/travel_05.jpg" />
    </div>
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/travel_06.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/travel_07.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/travel_08.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/travel_09.jpg" />
    </div>
  </div>
  <div class="row photos">
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/travel_10.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/travel_11.jpg" />
    </div>
    <div class="box col-2 p-1">
      <img src="assets/images/testimonials/travel_12.jpg" />
    </div>
    <div class="box col-4 p-1">
      <img src="assets/images/testimonials/travel_13.jpg" />
    </div>
  </div>
</div>
