<div id="socialMedia" class="d-flex flex-column align-items-center mb-5">
  <div>different versions - just to choose later on</div>
  <div class="icons mt-2">
    <a href="#" target="_blank"
      ><img src="/assets/images/whatsapp.png" alt="WhatsApp-Logo"
    /></a>
    <a href="#" target="_blank"
      ><img src="/assets/images/instagram.png" alt="Twitter-Logo"
    /></a>
    <a href="#" target="_blank"
      ><img src="/assets/images/twitter.png" alt="Facebook-Logo"
    /></a>
    <a href="#" target="_blank"
      ><img src="/assets/images/facebook.png" alt="Instagram-Logo"
    /></a>
  </div>
</div>
