<div class="container-fluid">
  <div id="socialMedia" class="d-flex flex-column align-items-center">
    <!-- ### Social media icons FontAwesome light ### -->

    <div class="icons">
      <a href="#"><i class="fab fa-2x fa-pinterest-square"></i></a>
      <a href="#"><i class="fab fa-2x fa-whatsapp-square"></i></a>
      <a href="#"><i class="fab fa-2x fa-instagram-square"></i></a>
      <a href="#"><i class="fab fa-2x fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-2x fa-facebook-square"></i></a>
    </div>
  </div>
  <div class="contact">
    <div>
      <i class="fab fa-linkedin"></i>&nbsp;&nbsp;John Doe - photographer
    </div>
    <div>legendary CodeFactory Team4</div>
  </div>
</div>
