<!-- here is the hero Photography -->
<div class="jumbotron pt-5 pb-5">
    <h1 class="display-3 text-center text-light fw-normal">Professional Photo Experiences!</h1>
    <p class="text-center text-light fs-4 fw-normal">Contact us and give us the opportunity to show you <br> the experience we have in creating images that you will carry <br> with you forever.</p>
    <hr class="my-4 text-light mx-4 fs-1">
    <p class="text-center text-light fs-5 fw-normal">In case you have a question, an idea, <br> a proposal or you just want to say hello, please write in the contact-site. <br> We will be delighted to talk to you as soon as possible.</p>
    <p class="d-flex justify-content-center pt-4">
        <a class="btn btn-secondary btn-lg" href="#" role="button">Take a look</a>
    </p>
</div>

<!-- here are the photos -->
<div class="lightbox m-4">
    <!-- Gallery -->
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="../../assets/image/freddy/married4.jpg" class="w-100 shadow-1-strong rounded mb-4 cardZoom" alt="" />

            <img src="../../assets/image/freddy/flowergirl.jpg" class="w-100 shadow-1-strong rounded mb-4 cardZoom" alt="" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../../assets/image/freddy/flower2.jpg" class="w-100 shadow-1-strong rounded mb-4 cardZoom" alt="" />

            <img src="../../assets/image/freddy/flower.jpg" class="w-100 shadow-1-strong rounded mb-4 cardZoom" alt="" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../../assets/image/freddy/married2.jpg" class="w-100 shadow-1-strong rounded mb-4 cardZoom" alt="" />

            <img src="../../assets/image/freddy/married.jpg" class="w-100 shadow-1-strong rounded mb-4 cardZoom" alt="" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="../../assets/image/freddy/handheart.jpg" class="w-100 shadow-1-strong rounded mb-4 cardZoom" alt="" />

            <img src="../../assets/image/freddy/portrait.jpg" class="w-100 shadow-1-strong rounded mb-4 cardZoom" alt="" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../../assets/image/freddy/portrait2.jpg" class="w-100 shadow-1-strong rounded mb-4 cardZoom" alt="" />

            <img src="../../assets/image/freddy/autumnred.jpg" class="w-100 shadow-1-strong rounded mb-4 cardZoom" alt="" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../../assets/image/freddy/bumblebee.jpg" class="w-100 shadow-1-strong rounded mb-4 cardZoom" alt="" />

            <img src="../../assets/image/freddy/pet4.jpg" class="w-100 shadow-1-strong rounded mb-4 cardZoom" alt="" />
        </div>
    </div>

    <!-- Gallery -->
</div>