/*Hero backgroung style*/

.jumbotron {
    background: url('../../assets/image/freddy/vintage-camera-background.jpg');
    background-size: cover;
    background-position: center;
}


/*zoom in & out when you hover a pic*/

.cardZoom {
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.cardZoom:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}