<div class="jumbotron pt-5 pb-5">
    <h1 class="display-4 text-center text-light">Hero Photography!</h1>
    <p class="lead text-center text-light">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4 text-light">
    <p class="text-center text-light">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead d-flex justify-content-center">
        <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<div class="lightbox m-4">
    <!-- Gallery -->
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-2 mb-lg-0">
            <img src="../../assets/image/freddy/boat.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="" />

            <img src="../../assets/image/freddy/flowergirl.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="" />
        </div>

        <div class="col-lg-4 mb-2 mb-lg-0">
            <img src="../../assets/image/freddy/flower2.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="" />

            <img src="../../assets/image/freddy/flower.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="" />
        </div>

        <div class="col-lg-4 mb-2 mb-lg-0">
            <img src="../../assets/image/freddy/canyon.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="" />

            <img src="../../assets/image/freddy/indiwoman.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="" />
        </div>
        <div class="col-lg-4 col-md-12 mb-2 mb-lg-0">
            <img src="../../assets/image/freddy/images.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="" />

            <img src="../../assets/image/freddy/images.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="" />
        </div>

        <div class="col-lg-4 mb-2 mb-lg-0">
            <img src="../../assets/image/freddy/images.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="" />

            <img src="../../assets/image/freddy/images.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="" />
        </div>

        <div class="col-lg-4 mb-2 mb-lg-0">
            <img src="../../assets/image/freddy/images.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="" />

            <img src="../../assets/image/freddy/images.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="" />
        </div>
    </div>

    <!-- Gallery -->
</div>