<div class="col-12 container pt-4 pb-4 alignCenter">
  <h1 class="text-center">Contact me</h1>

  <!-- container of img & form -->
  <div class="col-12 row d-flex pt-3 pb-3 alignCenter">
    <!-- sidebar img -->
    <div class="col-12 col-lg-4 h-100">
      <img
        src="assets/images/natalia/erik-mclean-2Wv9VnwzeeI-unsplash.jpg"
        class="rounded-3 float-start w-100 myImgContact alignCenter"
      />
    </div>

    <!-- contact form -->
    <div class="container col-12 col-lg-8">
      <form
        class="col-lg-10 h-100 rounded-0 alignCenter p-3 shadow"
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- full name input fields -->
        <div class="col-md-6 w-100 pt-3">
          <label for="inputEmail4" class="form-label fw-light text-uppercase"
            >Name*</label
          >
          <div class="d-flex flex-column flex-md-row">
            <input
              type="input"
              formControlName="fName"
              class="form-control w-md-50 mb-1 mb-md-0 me-md-1 rounded-0"
              placeholder="Insert your first name"
            />
            <input
              type="input"
              formControlName="lName"
              class="form-control w-md-50 mt-1 mt-md-0 rounded-0"
              placeholder="Insert your last name"
            />
          </div>
        </div>

        <!-- email input field -->
        <div class="col-md-6 w-100 pt-3">
          <label for="email" class="form-label fw-light text-uppercase"
            >Email*</label
          >
          <input
            type="input"
            formControlName="email"
            class="form-control rounded-0"
            placeholder="Insert your email"
          />
        </div>

        <!-- text message input field -->
        <div class="col-md-6 w-100 pt-3">
          <label
            for="exampleFormControlTextarea1"
            class="fw-light text-uppercase"
            >Leave me a message</label
          >
          <textarea
            class="form-control rounded-0"
            formControlName="msg"
            rows="3"
            placeholder="..."
          ></textarea>
        </div>
        <div class="col-12 pt-3">
          <input
            type="submit"
            class="btn btn-outline-secondary rounded-0"
            value="Submit"
          />
        </div>

        <!-- Phone & Social Media section -->
        <div
          class="col-10 mt-4 mb-4 d-flex flex-column flex-md-row alignCenter"
        >
          <!-- phone & email address-->
          <div class="col-12 col-md-6 me-1">
            <div class="p-2">
              <h6 class="text-uppercase fw-light">contact me</h6>
              <div>
                <span class="fw-light"
                  >e-mail:
                  <span class="cursorPointer">info@photography.eu</span></span
                >
                <br />
                <span class="fw-light">phone: +43 123 45678901</span>
              </div>
            </div>
          </div>

          <!-- social media Icons-->
          <div class="col-12 col-md-6 ms-1">
            <div class="p-2">
              <h6 class="text-uppercase fw-light">Follow me</h6>
              <div class="d-flex align-items-center fs-1">
                <i class="fab fa-instagram fw-light m-1 pe-2 cursorPointer"></i>
                <i
                  class="fab fa-facebook-square fw-light m-1 pe-2 cursorPointer"
                ></i>
                <i
                  class="fab fa-pinterest-square fw-light m-1 pe-2 cursorPointer"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
